body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif !important;
  color: #404040;
}

.jspsych-btn {
  margin: .5rem 0;
  padding: 0.75rem 0;
  font-size: 2rem;
  width: 100%;
  background: #0067A0;
  border: none;
  color: white;
  outline: none;
  /* transition: opacity 0s; */
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif !important;
}

.jspsych-html-button-response-button.image-button .jspsych-btn {
  position: relative;
}
.jspsych-html-button-response-button.image-button .jspsych-btn::after {
  content: '_';
  opacity: 0;
}

.jspsych-btn img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .jspsych-btn {
    font-size: 3.5rem;
    padding: 1.25rem 0;
  }
}

.jspsych-html-button-response-button.result .jspsych-btn {
  font-size: 1.5em;
  max-width: 75%;
}

.jspsych-btn img {
  max-height: 2rem;
}

.mindlogger-flanker-image-button{
  padding: 0.25rem 0;
}

.mindlogger-message {
  font-size: 2rem;
  font-weight: bold;
}

.mindlogger-message.correct {
  color: rgb(105, 161, 82);
}

.mindlogger-message.incorrect {
  color: rgb(207, 55, 55);
}

.mindlogger-fixation {
  font-size: 6rem;
}

#jspsych-html-button-response-btngroup {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#jspsych-html-button-response-stimulus .question {
  font-size: 4em;
  font-weight: bold;
}

#jspsych-html-button-response-stimulus .question img,
#jspsych-html-keyboard-response-stimulus img {
  width: 75vw;
  height: 50vh;
  object-fit: contain;
}

.jspsych-image-button-response-button, .jspsych-html-button-response-button {
  flex: 1 1 auto;
  width: 50%;
  max-width: 75%;
  margin: auto;
}

.mindlogger-button-image {
  height: 48px;
}