<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88569001506-uqc78prsojo0f34k4aj28at80h6es7td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88569001506-uqc78prsojo0f34k4aj28at80h6es7td</string>
	<key>API_KEY</key>
	<string>AIzaSyDlNiCVmQB5XslWSeMSw8QMG94cS8FCiuo</string>
	<key>GCM_SENDER_ID</key>
	<string>88569001506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lab.childmindinstitute.data</string>
	<key>PROJECT_ID</key>
	<string>mindlogger-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>mindlogger-platform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88569001506:ios:a49028b3e02ea17703bc7b</string>
	<key>DATABASE_URL</key>
	<string>https://mindlogger-platform.firebaseio.com</string>
</dict>
</plist>