<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158587556670-romgi2fdi0nl56b3ug93gpvfdrn6f1cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158587556670-romgi2fdi0nl56b3ug93gpvfdrn6f1cu</string>
	<key>API_KEY</key>
	<string>AIzaSyDAcZeeVXdmrbGMDXHXwIN_Izl-LKsYkS8</string>
	<key>GCM_SENDER_ID</key>
	<string>158587556670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lab.childmindinstitute.data</string>
	<key>PROJECT_ID</key>
	<string>mindlogger-7352d</string>
	<key>STORAGE_BUCKET</key>
	<string>mindlogger-7352d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:158587556670:ios:8310cfca1b4feb22f4d26f</string>
	<key>DATABASE_URL</key>
	<string>https://mindlogger-7352d.firebaseio.com</string>
</dict>
</plist>
